<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
          <h2>Welcome, this is market analyst</h2>
    			<p>You can find analytics that you want according to our search engines.</p>
          <p>You can upload invoice files from the supermarket.</p>
    		</div>
    </div>

    <div class="col-sm-4">
        <div class="well">
            <h3>First option - One time interval</h3>
            <h3>Second option - Two time intervals</h3>
            <h3>Third option - Association</h3>
        </div>
    </div>

</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
