<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>
		<div class="jumbotron">
      <h2>Welcome, this is market analyst</h2>
      <p>You can find analytics that you want according to our search engines.</p>
      <p>You can upload invoice files from the supermarket.</p>
			<img src=<%= answer %> alt=<%= answer %>>
		</div>
	</main>
	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>
